<hr>

<div class="row" style="margin-bottom:5px"> <!-- ROW 1 -->
  
  <div class="col-sm-3 col-xs-12" id="f_name_div" class='form-group'> 
    <label>Name <span class="glyphicon glyphicon-asterisk" aria-hidden="true" style="color:orange"></label> <!-- Prod_Name -->
    <input type="text" class="form-control" id="f_name" required>
  </div>               

  <div class="col-sm-2 col-xs-12" id="f_contact_div" class='form-group'> 
    <label>Contact <span class="glyphicon glyphicon-asterisk" aria-hidden="true" style="color:orange"></label> <!-- Prod_Name -->
    <input type="number" class="form-control" id="f_contact" required>
  </div>             

  <div class="col-sm-3 col-xs-12" id="f_bdate_div" class='form-group'> 
    <label>Birthdate <span class="glyphicon glyphicon-asterisk" aria-hidden="true" style="color:orange"></label> <!-- Prod_Name -->
    <input type="date" class="form-control" id="f_bdate" required>
  </div>             

  <div class="col-sm-2 col-xs-12" id="f_gender_div" class='form-group'> 
    <label>Gender <span class="glyphicon glyphicon-asterisk" aria-hidden="true" style="color:orange"></label> <!-- Prod_Name -->
    <select class="form-control" id="f_gender" required>
      <option value="none">--SELECT--</option>
      <option value="male">MALE</option>
      <option value="female">FEMALE</option>
    </select>
  </div>                 



</div> <!-- /.row -->   

<div class="row" style="margin-bottom:5px"> <!-- ROW 1 -->
  
  <div class="col-sm-3 col-xs-12" id="f_address_div" class='form-group'> 
    <label>Address <span class="glyphicon glyphicon-asterisk" aria-hidden="true" style="color:orange"></label> <!-- Prod_Name -->
    <textarea type="text" class="form-control" id="f_address" style="resize:none" required></textarea>
  </div>           
   
  

</div> <!-- /.row -->   
