<hr>

<div class="row" style="margin-bottom:5px"> <!-- ROW 1 -->

  <ul class="nav nav-tabs">
  <li ><a href="main.php">Treatment</a></li>
  <li class="active"><a href="#">Admission</a></li>
  <li><a href="discharge_main.php">Discharge</a></li>

  <div class=" col-xs-12">
    <div class="panel panel-default">
        <div class="panel-heading">
        </div>
        <div class="panel-body">
            <div class="container-fluid">
            <div class="col-sm-3 col-xs-12" id="f_startingdate_div" class='form-group'> 
                <label>Starting Date<span class="glyphicon glyphicon-asterisk" aria-hidden="true" style="color:orange"></span></label> 
                <input type="date" class="form-control " id="f_startingdate" required>
              </div> 
             <div class="col-sm-2 col-xs-12" id="f_cagenumber_div" class='form-group'> 
                <label>Cage Number<span class="glyphicon glyphicon-asterisk" aria-hidden="true" style="color:orange"></span></label>
                <select type="text" class="form-control " id="f_cagenumber" required>
                  <option value="none"> -- SELECT -- </option>
                </select>
              </div>

            </div>
          </div>
        </div>
      </div>
   </ul>



</div><!--row-->


