<hr>

<div class="row" style="margin-bottom:5px"> <!-- ROW 1 -->

  <ul class="nav nav-tabs">
  <li class="active"><a href="#">Treatment</a></li>
  <li><a href="admission_main.php">Admission</a></li>
  <li><a href="discharge_main.php">Discharge</a></li>

  <div class=" col-xs-12">
    <div class="panel panel-default">
        <div class="panel-heading">
        </div>
        <div class="panel-body">
            <div class="container-fluid">
             <div class="col-sm-2 col-xs-12" id="f_clientname_div" class='form-group'> 
                <label>Client Name <span class="glyphicon glyphicon-asterisk" aria-hidden="true" style="color:orange"></span></label>
                <select type="text" class="form-control " id="f_client" required>
                  <option value="none"> -- SELECT -- </option>
                </select>
              </div>
              <div class="col-sm-2 col-xs-12" id="f_petname_div" class='form-group'> 
                <label>Pet Name <span class="glyphicon glyphicon-asterisk" aria-hidden="true" style="color:orange"></span></label>
                <select type="text" class="form-control " id="f_petname" required>
                  <option value="none"> -- SELECT -- </option>
                </select>
              </div> 
              <div class="col-sm-3 col-xs-12" id="f_treatmentdate_div" class='form-group'> 
                <label>Treatment Date<span class="glyphicon glyphicon-asterisk" aria-hidden="true" style="color:orange"></span></label> 
                <input type="date" class="form-control " id="f_treatmentdate" required>
              </div> 
           
              <div class="col-sm-5 col-xs-12" id="f_prolem_div" class='form-group'> 
              <label>Problem</label> 
              <textarea rows="2" style="resize:none" class="form-control " id="f_problem"></textarea>
              </div> 
              <div class="col-sm-5 col-xs-12" id="f_diagnosis_div" class='form-group'> 
              <label>Diagnosis</label> 
              <textarea rows="2" style="resize:none" class="form-control " id="f_diagnosis"></textarea>
              </div> 
              <div class="col-sm-5 col-xs-12" id="f_treatment_div" class='form-group'> 
              <label>Treatment</label> 
              <textarea rows="2" style="resize:none" class="form-control " id="f_treatment"></textarea>
              </div> 
              <div class="col-sm-5 col-xs-12" id="f_complications_div" class='form-group'> 
              <label>Complications</label> 
              <textarea rows="2" style="resize:none" class="form-control " id="f_complications"></textarea>
              </div> 
              <div class="col-sm-5 col-xs-12" id="f_consultations_div" class='form-group'> 
              <label>Consultations</label> 
              <textarea rows="2" style="resize:none" class="form-control " id="f_consultations"></textarea>
              </div> 
              <div class="col-sm-5 col-xs-12" id="f_pertinenthistory_div" class='form-group'> 
              <label>Pertinent History</label> 
              <textarea rows="2" style="resize:none" class="form-control " id="f_pertinenthistory"></textarea>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="">Admission required</label>
              </div>

            </div>
          </div>
        </div>
      </div>
   </ul>



</div><!--row-->


